<!DOCTYPE html>
<html>
<head>
    <title>Simple Game</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
            .containt{
                margin-left: 20px;
            }
            .content{
                margin-left: 8%
            }
            .content2{
                margin-right: 15%
            }
    </style>

</head>
<body>
<div id="app" class="container">
    <br>
    <div class="row">
        <div class="col-sm-5 text-center"><h2>You</h2></div>
        <div class="col-sm-5 text-center"><h2>Monster</h2></div>
    </div>

    <div class="row">
    <div class="alert alert-primary col-sm-5">
        <ul class="list-group">
            <li class="list-group-item active" style="margin-left: playerHealth" :style="{width: playerHealth + '%'}">{{ playerHealth }}</li>
        </ul>
   
      </div>
      <div class="alert alert-primary col-sm-5 containt">
            <ul class="list-group">
                <li class="list-group-item active" :style="{width: monsterHealth + '%'}">{{ monsterHealth }}</li>
            </ul>
      </div>
    </div>
    
    <div v-if="!gameIsRunning">
           <center> <a @click="gameStart" class="btn btn-primary btn-lg active content2" role="button" aria-pressed="true">New Game Start</a></center>
    </div>

    <div v-else>
          
            <button @click="attack" type="button" class="btn btn-danger col-sm-2 content">Attack</button>
            <button @click="specialAttack" type="button" class="btn btn-warning col-sm-2">Special Attack</button>
            <button @click="heal" type="button" class="btn btn-success col-sm-2">Heal</button>
            <button @click="giveUp" type="button" class="btn btn-secondary col-sm-2">Give Up</button>
    </div>

    <div>
        <br>

            <center> <ul class="list-group content2" :style="{width: 50 + '%'}">
                <div v-if="">

                </div>
            <li class="list-group-item" v-for="turn in turns"
            :class="{'list-group-item-primary': turn.isPlayer, 'list-group-item-secondary': !turn.isPlayer}">
                {{ turn.text }}
            </li>
        </ul></center> 
    </div>
    


</div>
<script src="app.js"></script>
</body>
</html>

